{%load static%}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h2>New to Eden Thought..Register Here</h2>
      <form method="POST" autocomplete="off">
        {%csrf_token%} {{registeruser.as_p}}

        <br /><br />
        <div class="btn-container">
          <button type="submit" class="btn-login">Register</button>
        </div>
        
      </form>
    </div>
  </body>
</html>
